@{ 
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>
        The Entire World - @ViewBag.Title
    </title>
    <link rel="stylesheet" href="~/styles/site.css" />
</head>
<body>
    <div id="sidebar">
        <img src="~/img/zach.jpg" class="profilepic" alt="headshot" />
        <span id="username">Zach</span>
        <ul class="menu">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
        </ul>
    </div>

    <div id="wrapper">
        <div id="main">
            <button id="sidebarToggle">Show Menu</button>
            @RenderBody()
        </div>

        <div id="footer">
            &copy; 2017 The World
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("scripts", false)

    <script type="text/javascript" src="~/scripts/site.js"></script>

</body>
</html>